# Postgres settings for local Docker
POSTGRES_DB=undivided
POSTGRES_USER=undivided
POSTGRES_PASSWORD=undivided

# Database connection string used by Payload
DATABASE_URL=postgresql://undivided:undivided@db:5432/undivided

# Used to encrypt JWT tokens
PAYLOAD_SECRET=REPLACE_ME

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=REPLACE_ME

# Used to validate preview requests
PREVIEW_SECRET=REPLACE_ME
